section.tasks-container {
    grid-area: tasks;
}

section.tasks-from-container {
    grid-area: form;
}

section.volunteers-container {
    grid-area: volunteers;
}

.main {
    display:grid;
    grid-template-areas: 'tasks form' 'volunteers volunteers';
    gap:2em;
    padding:2em;
}


section.tasks-container, section.volunteers-container-in, section.volunteers-container {
    background-color: #d5c8f5;
   /* background-image: linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );*/
    border-radius: 2em;
    text-align: center;
    height:100%;
    width: 100%;
    position:relative;
    box-shadow: 0.5em 0.5em 2em rgba(101,85,143,0.80);
}

section.volunteers-container {
    padding:2em;
}

.tasks, .volunteers {
    background-color: antiquewhite;
    border-radius: 2em 0 0 2em ;
    margin:0 1em 1em 1em;
    display:grid;
    grid-template-columns: 80%;
    justify-content: space-around;
    gap:5px;
    padding:5px 0;
    overflow:auto;
    height:200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.task, .volunteer {
    background-color: rgb(144 154 255);
   /* background-image: linear-gradient(rgb(193, 196, 237),rgb(116, 180, 210) );*/
    border-radius: 2em;
    text-align: left;
    padding: 0 0 2em 2em;
    display:flex;
}

.volunteer > span {
    background-color: aqua;
    width:1em;
    text-align: center;
    border-radius:2em;
    padding:0.2em;
}

.volunteer {
    display: flex;
    align-items: center;
    padding:0;
    padding-left:2em;
    height:50px;
}

.volunteer > * {
    margin: 10px;
}

.task-controlls {
    align-self: center;
    justify-self: flex-end;
}

.task > div.task-desc {
    flex:3 1 0;
}

.task > div.task-controlls {
    flex: 1 1 0;
}

.task-desc {
    width:200px;
    word-break:normal;
}

section.volunteers-container {
    display:flex;
}

section.volunteers-container > section.volunteers-container-in {
    flex: 3 1 0;
    margin:10px;
}

section.tasks-choose-container {
    flex: 1 1 0;
    align-self: center;
    text-align: center;
}

section.project-nav-container {
    margin-left:10%;
    margin-bottom:2em;
}

section.project-nav-container > button {
    background-color: rgb(210, 211, 239);
    padding:1.5em;
    width:200px;
    border-radius: 2em;
    border:none;
    cursor: pointer;
}

section.project-nav-container > button.active {
    background-color: rgb(189, 193, 234);
}

div.volunteer button,
div.tasks-buttons-container button {
    color:white;
    height:2em;
    background-color: rgb(155, 125, 231);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -7px 10px 0px inset;
    transition: background-color 0.3s ease;
    border:0;
    border-radius:0.5em;
    cursor: pointer;
}

div.volunteer button:hover,
div.tasks-buttons-container button:hover {

    background-color:rgb(131, 102, 204);

}

div.tasks-buttons-container button {
    margin-bottom:1em;
}

select {
    width:60%;
    height:2em;
    border-radius:0.5em;
    margin:0.5em 0;
    border:0;
    box-shadow:inset rgba(0, 0, 0, 0.31) 3px 2px 5px, rgba(0, 0, 0, 0.23) 0px 0px 0px 0px inset;
}