.main {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    gap:2em;
}

section.project-container {
    background-color: rgb(173, 178, 229);
    background-image: linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 50%;
    gap:1em;
    border-radius: 2em;
    min-width:600px;
    box-shadow: 0.5em 0.5em 2em rgba(101,85,143,0.80);
}

.text-container {
    margin:2em 0;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    height:80%;
    
}

.project-img {
    width:min(350px, 100%);
    height:min(300px, 100%);
    border-radius: 2em;
    object-fit: fill;
}

.project-short-desc{
    color:gray;
}

.popup-container {
    background-color: aliceblue;
    padding:2em;
    position:absolute;
    width:50%;
    top:10%;
    left:25%;
}
.mask{
    display:none;
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    height:100%;
    width:100%;
    left:0;
    top:0;
}

.project-join-button {
    width:60%;
    height:2em;
    border-radius:0.5em;
    margin:0.5em 0;
    border:0;
    box-shadow:inset rgba(0, 0, 0, 0.31) 3px 2px 5px, rgba(0, 0, 0, 0.23) 0px 0px 0px 0px inset;
    color:white;
    background-color: rgba(101,85,143,1.0);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -7px 10px 0px inset;
    transition: background-color 0.3s ease;
}

.project-join-button:hover{
    background-color: rgb(128, 107, 181);
}

div.popup-buttons-conainter {
    text-align: center;
}

div.popup-buttons-container > button {
    padding:0.5em 2em;
    color:white;
    background-color: rgba(101,85,143,1.0);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -7px 10px 0px inset;
    transition: background-color 0.3s ease;
    border-radius:0.5em;
    border:0;
}

div.popup-buttons-container > button:disabled {
    background-color: rgba(217, 209, 238, 0.8);
}