* {
    box-sizing: border-box;
}

body, html {
    margin:0;
    padding:0;   
    width:100%;
    height:100%;
    background-color:#fcf6ef;
}


.header {
    top:0;
    background-color: #B2A7D9;
   
    height:80px;
    border-radius: 0 0 50px 50px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    position:relative;
    border-bottom: 3px solid rgb(127, 127, 171)
   /* box-shadow: rgba(238, 221, 255, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;*/
}

.logo-container {
    height:100%;
    border-radius:0 0 0 50px;
    flex-basis:8%;
    background-color: rgba(202,202,202,0);
    position:relative;
    text-align: center;
}

.logo-container > img {
    width: 65%;
    height:90%;
    margin-left:2em;
    margin-top:4px;
}

.nav-menu {
    flex-basis: 92%;
    display:grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    padding-bottom:1em;
}

.nav-links-container {
    display:flex;
}

.nav-links-container  a{
    display: inline-block;
    color:black;
    text-decoration: none;
    text-align:center;
    flex: 1 1 0;
    background-color: rgba(0,0,0,0);
    border-radius:8px 8px 0 0;
    margin : 0em 0.6em;
    border-bottom:1px solid rgba(0, 0, 0, 0.35);
    box-shadow: none;
    transition: box-shadow 0.3s ease;
    align-self: center;
    padding-top:5%;
}

.nav-links-container a:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px -40px 20px -20px inset;
}

.sign-in-up-buttons {
    display: flex;
    align-items:flex-start;
    flex-direction: column;

}
.sign-in-up-buttons a {
    display:inline-block;
    color:black;
    text-decoration: none;
    flex: 1 1 0;
    padding:0.4em 0.5em;
    margin:0.2em;
    width:200px;
    color:white;
    background-color: rgba(44, 44, 44,0);
    border-left:1px solid rgba(0, 0, 0, 0.35);
    box-shadow: none;
    transition: box-shadow 0.3s ease;

}

.sign-in-up-buttons a:first-child {
    margin-top:1em;

}

.sign-in-up-buttons a:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 70px 0px 36px -28px inset;
}

.section-line {
    width:80%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #B2A7D9;
   /* background-image: linear-gradient(rgb(115,124,255),rgb(173, 178, 229) );*/
    height:25%;
    display:grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    gap:10px;
    border-top: 3px solid rgb(127, 127, 171)
}

.footer > div {
    text-align: center;
    margin:auto;
}

.footer-col1 {
    position:relative;
}

.footer-col1 > img {
    width:20%;
    height:20%;
}

