.project-container {
    background-color: rgb(173, 178, 229);
    background-image: linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 50%;
    gap:1em;
    border-radius: 2em;
    min-width:600px;
    max-width:800px;
    box-shadow: 0.5em 0.5em 2em rgba(101,85,143,0.80);
}

.text-container {
    margin:2em 0;
}

.img-container {
    text-align: center;
    margin:auto;
    height:80%;
}

.project-img {
    width:300px;
    height:300px;
    object-fit: contain;
    border-radius:2em;
}

.project-short-desc{
    color:gray;
}