.text-container {
    background-color: rgba(115,124,211,0.59);
    background-image: linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );
    display:inline-block;
    margin-top:2em;
    margin-left:9em;
    padding:2.5em;
    border-radius: 4em;
}

.desc-short {
    margin-left:11em;
    color:black;
}

.main {
    display:grid;
    grid-template-columns: 45% 55%;
    margin:2em;
}

.buttons-container {
    display:flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    justify-content:flex-start;
}

.buttons-container > button {
    width: 40%;
    padding:2em 0;
    margin:1em 0;
    background-color: rgb(101, 85, 143);
    color:white;
    border:1px solid white;
    border-radius:4em;
    transition:transform 0.2s ease;
    cursor: pointer;
}

.buttons-container > button:hover {
    transform: scale(1.05);
}

.buttons-container > button.active {
    background-color: rgb(236, 234, 241);
    color:black;
    border:0.2em solid rgb(101, 85, 143)
}

.form-container{
    width:80%;
}

#other_o_type {
    display:inherit;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width:60%;
}

#other_o_type > input, #other_o_type > label {
    width:100%;
}

#other_o_type > label {
    text-align: left;
}