.main {
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: center;
    gap:2em;
}

section.project-container {
    background-color: rgb(173, 178, 229);
    background-image: linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 50%;
    gap:1em;
    border-radius: 2em;
    min-width:600px;
    box-shadow: 0.5em 0.5em 2em rgba(101,85,143,0.80);
}

.text-container {
    margin:2em 0;
}

.img-container {
    text-align: center;
    margin:auto;
    height:80%;
    
}

.project-img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:2em;
}

.project-short-desc{
    color:gray;
}



section.tasks-container {
    background-color: rgb(173, 178, 229);
    background-image: linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );
    border-radius: 2em;
    text-align: center;
    height:100%;
    position:relative;
    box-shadow: 0.5em 0.5em 2em rgba(101,85,143,0.80);
}

.tasks {
    background-color: antiquewhite;
    border-radius: 2em 0 0 2em ;
    margin:0 1em 1em 1em;
    display:grid;
    grid-template-columns: 80%;
    justify-content: space-around;
    gap:5px;
    padding:5px 0;
    overflow:auto;
    height:260px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.task {
    background-color: rgb(173, 178, 229);
    background-image: linear-gradient(rgb(193, 196, 237),rgb(116, 180, 210) );
    border-radius: 2em;
    text-align: left;
    padding: 0 0 2em 2em;
}



