<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main-layout.css">
    <link rel="stylesheet" href="/css/create_project.css">
    <link rel="stylesheet" href="/css/form-layout.css">

    

    <title>Strona główna</title>
</head>
<body>

    <header class="header">

        <div class="logo-container">
            <img src="images/logo.png" alt="logo" class="logo">
        </div>

        <nav class="nav-menu">
            <div class="nav-links-container">
                <a href="" class="nav-link">O nas</a>
                <a href="/organisation/projects" class="nav-link">Projekty</a>
                <a href="" class="nav-link">Organizacje</a>
                <a href="" class="nav-link">Kontakt</a>
                <a href="/organisation/project/create" class="nav-link">Stwórz projekt</a>
            </div>
            <div class="sign-in-up-buttons">
                <a href="/organisation/profile" class="nav-link">Profil</a>
                <a href="" class="nav-link">Wyloguj</a>
            </div>

        </nav>

    </header>

    <hr class="section-line">

    <main class="main">

        

         <section class="form-container">

            <form class="form" name="projectForm">

                <label for="title">Tytuł</label>
                <input type="text" name="title" id="title" required>

                <label for="desc-long">Opis projektu</label>
                <textarea name="desc-long" id="desc-long" required></textarea>

                <label for="tags">Tagi</label>
                <select name="tags" id="tags" class="chosen-select" multiple>

                    <option value="1">Edukacja</option>
                    <option value="2">Ochrona_srodowiska</option>
                    <option value="3">Zdrowie_i_pomoc_spoleczna</option>

                </select>

                <label for="img">Obrazek</label>
                <input type="file" name="img" id="img">

                <button type="button" onclick="createProject()">Dalej</button>

            </form>

        </section>

        <section class="tasks-container" id = "tasks-container" style="display:none">
    
            <div class="tasks">

                <h1>Lista zadań</h1>

                <div class="task">

                    <h2 class="task-tittle">Zadanie 1</h2>

                    <p class="task-desc">opis zadania</p>

                    <span class="priority">Priorytet - wysoki</span>

                </div>

                <div class="task">

                    <h2 class="task-tittle">Zadanie 1</h2>

                    <p class="task-desc">opis zadania</p>

                    <span class="priority">Priorytet - wysoki</span>

                </div>

                <div class="task">

                    <h2 class="task-tittle">Zadanie 1</h2>

                    <p class="task-desc">opis zadania</p>

                    <span class="priority">Priorytet - wysoki</span>

                </div>

            </div>

            <form action="" class="form">

                <label for="task-title">Tytuł</label>
                <input type="text" name="task-title" id="task-title" required>

                <label for="task-desc">Opis</label>
                <textarea name="task-desc" id="task-desc"></textarea>

                <label for="priority">Priorytet</label>
                <select name="priority" id="priority">

                    <option value="val1">val1</option>
                    <option value="val2">val2</option>
                    <option value="val3">val3</option>

                </select>

                <input type="submit" value="Dodaj zadanie do listy zadań">

            </form>

            <button type="button" id="create-project-button" style="width:20%">Gotowe</button>

    </section>

    </main>

    <hr class="section-line">

    <footer class="footer">

        <div class="footer-col1"><img src="images/logo2mini.png" alt=""></div>
        <div class="footer-col2">col2</div>
        <div class="footer-col3">col3</div>
        <div class="footer-col4">col4</div>

    </footer>

    <script>

        $(".chosen-select").chosen();
        document.getElementById('tags_chosen').style.width = "";
        document.getElementsByClassName('chosen-search-input')[0].setAttribute('value',"Wybierz tagi");
        document.getElementsByClassName('chosen-search-input')[0].setAttribute('placeholder',"Wybierz tagi");

        async function createProject(){

            const form = document.forms["projectForm"];

            const formData = new FormData(form);

            const data = Object.fromEntries(formData.entries());

            console.log(formData);

            try {
            const response = await fetch("http://localhost:8080/api/project/create" , {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const result = await response.text();
                console.log(result);
                document.getElementById("tasks-container").style.display = "grid";

            } else {
                console.log("Błąd odpowiedzi serwera ", (await response).status);
            }
        } catch (error) {
            console.log(error);
        }

        }

    </script>
    
</body>
</html>