<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
    

    <link rel="stylesheet" href="/css/main-layout.css">
    <link rel="stylesheet" href="/css/edit-project-desc.css">
    <link rel="stylesheet" href="/css/form-layout.css">
    <title>Strona główna</title>
</head>
<body onload="loadContent()">

    <header class="header">

        <div class="logo-container">
            <img src="images/logo.png" alt="logo" class="logo">
        </div>

        <nav class="nav-menu">
            <div class="nav-links-container">
                <a href="" class="nav-link">O nas</a>
                <a href="/organisation/projects" class="nav-link">Projekty</a>
                <a href="" class="nav-link">Organizacje</a>
                <a href="" class="nav-link">Kontakt</a>
                <a href="/organisation/project/create" class="nav-link">Stwórz projekt</a>
            </div>
            <div class="sign-in-up-buttons">
                <a href="/organisation/profile" class="nav-link">Profil</a>
                <a href="" class="nav-link">Wyloguj</a>
            </div>

        </nav>

    </header>

    <hr class="section-line">

    <section class="project-nav-container">
        <button type="button" class="desc-managment active" >Projekt</button>
        <button type="button" class="tasks-managment">Zadania</button>
    </section>

    <main class="main">

        <section class="project-container">

        </section>

        <section class="form-container">

            <form action="" class="form" name="projectForm">

                <label for="tittle">Tytuł</label>
                <input type="text" name="title" id="tittle" required>

                <label for="desc-long">Opis projektu</label>
                <textarea name="desc-long" id="desc" required></textarea>

                <label for="tags">Tagi</label>
                <select name="tags" id="tags" class="chosen-select" multiple required>

                </select>

                <label for="img">Obrazek</label>
                <input type="file" name="img" id="img">

                <button type="button" onclick="updateProject()">Zapisz projekt</button>

            </form>

        </section>
        

    </main>

    <hr class="section-line">

    <footer class="footer">

        <div class="footer-col1"><img src="images/logo2mini.png" alt=""></div>
        <div class="footer-col2">col2</div>
        <div class="footer-col3">col3</div>
        <div class="footer-col4">col4</div>

    </footer>

    <script defer>

        

        const urlArray = window.location.href.split("/");
        const projectId = urlArray.at(-1);  

        async function getTags() {

            try {
                const response = await fetch('http://localhost:8080/api/tag/all' , {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                const responseTagsInProject = await fetch('http://localhost:8080/api/project/' + projectId , {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok && responseTagsInProject.ok) {

                    const tags = await response.json();
                    const project = await responseTagsInProject.json();

                    const tagsId = [];

                    project.tags.forEach(tag => {
                        tagsId.push(tag.id)
                    });

                    console.log(tagsId);

                    tags.forEach(tag => {

                        const option = document.createElement("option");

                        option.value = tag.id;
                        option.innerText = tag.desc;
                        option.id = "tagId" + tag.id;

                        if (tagsId.includes(tag.id)){

                            option.selected = "selected";

                        }
                        document.getElementById("tags").appendChild(option);

                    })

                }

                fillFormData();

            } catch (error) {
                console.log(error);
            }
            
        }

        async function fillFormData() {

            try {
                const response = await fetch('http://localhost:8080/api/project/' + projectId , {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {

                    const project = await response.json();

                    document.getElementById("tittle").value = project.title;

                    document.getElementById("desc").value = project.desc;

                }

            } catch (error) {

                console.log(error);

            }

        }

        async function getProject() {

            const root = document.querySelector("section.project-container");
        
            console.log(projectId);

            try {
                const response = await fetch('http://localhost:8080/api/project/' + projectId, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    const project = await response.json();
                    console.log(project);
                    const imgContainer = document.createElement("div");
                    imgContainer.classList.add("img-container");

                    const img = document.createElement("img");
                    img.src = project.imgPath;
                    img.alt = "zdjecie";
                    img.classList.add("project-img")

                    const textContainer = document.createElement("div");
                    textContainer.classList.add("text-container");

                    const projectTitle = document.createElement("h2");
                    projectTitle.classList.add("project-tittle");
                    projectTitle.innerHTML = project.title;

                    const projectShortDesc = document.createElement("h4");
                    projectShortDesc.classList.add("project-short-desc");
                    projectShortDesc.innerHTML = "Organizacja - " + project.orgName;

                    const projectLongDesc = document.createElement("p");
                    projectLongDesc.classList.add("project-long-desc");
                    projectLongDesc.innerHTML = project.desc;

                    const tagsContainer = document.createElement("div");
                    tagsContainer.classList.add("tags-container");

                    const tags = document.createElement("p");
                    tags.classList.add("tags");

                    for (let x in project.tags) {
                        tags.innerHTML += "[" + project.tags[x].desc + "] ";
                    }


                    imgContainer.appendChild(img);

                    textContainer.appendChild(projectTitle);
                    textContainer.appendChild(projectShortDesc);
                    textContainer.appendChild(projectLongDesc);

                    tagsContainer.appendChild(tags);

                    textContainer.appendChild(tagsContainer);

                    root.appendChild(imgContainer);
                    root.appendChild(textContainer);

                } else {
                    console.log("blad serwera");
                }

            } catch (error) {
                console.log(error);
            }
    }

    async function updateProject() {

        const form = document.forms["projectForm"];

        const formData = new FormData(form);

        const data = Object.fromEntries(formData.entries());

        console.log(formData);

        try {
        const response = await fetch("http://localhost:8080/api/project/" + projectId , {
            method: 'PATCH',
            body: formData
        });

        if (response.ok) {
            alert("udało sie zaktualizowac projekt")
        } else {
            alert("nie udalo sie");
        }

        } catch (error) {
            console.log(error);
        }
        
    }

    async function loadContent() {

        await getProject();
        await getTags();
        $(".chosen-select").chosen();

    }

    </script>
    
</body>
</html>