<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
    

    <link rel="stylesheet" href="/css/main-layout.css">
    <link rel="stylesheet" href="/css/edit-project-desc.css">
    <link rel="stylesheet" href="/css/form-layout.css">

    <script src = "/src/edit_project_desc.js" defer></script>
    <title>Strona główna</title>
</head>
<body onload="loadContent()">

    <header class="header">

        <div class="logo-container">
            <img src="/images/logotst.png" alt="logo" class="logo">
        </div>

        <nav class="nav-menu">
            <div class="nav-links-container">
                <a href="" class="nav-link">O nas</a>
                <a href="/organisation/projects" class="nav-link">Projekty</a>
                <a href="" class="nav-link">Organizacje</a>
                <a href="" class="nav-link">Kontakt</a>
                <a href="/organisation/project/create" class="nav-link">Stwórz projekt</a>
            </div>
            <div class="sign-in-up-buttons">
                <a href="/organisation/profile" class="nav-link">Profil</a>
                <a href="" class="nav-link">Wyloguj</a>
            </div>

        </nav>

    </header>

    <hr class="section-line">

    <section class="project-nav-container">
        <button type="button" class="desc-managment active" onclick = "goToEditDesc()">Projekt</button>
        <button type="button" class="tasks-managment" onclick = "goToEditTasks()">Zadania</button>
    </section>

    <main class="main">

        <section class="project-container">

        </section>

        <section class="form-container">

            <form action="" class="form" name="projectForm">

                <label for="tittle">Tytuł</label>
                <input type="text" name="title" id="tittle" required>

                <label for="desc-long">Opis projektu</label>
                <textarea name="desc-long" id="desc" required></textarea>

                <label for="tags">Tagi</label>
                <select name="tags" id="tags" class="chosen-select" multiple required>

                </select>

                <label for="img">Obrazek</label>
                <input type="file" name="img" id="img">

                <button type="button" onclick="updateProject()">Zapisz projekt</button>

            </form>

        </section>
        

    </main>

    <hr class="section-line">

    <footer class="footer">

        <div class="footer-col1"><img src="/images/logotst.png" alt="logo"></div>
        <div class="footer-col2"></div>
        <div class="footer-col3"></div>
        <div class="footer-col4"></div>

    </footer>

    
</body>
</html>