<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="css/main-layout.css">
    <link rel="stylesheet" href="css/form-layout.css">
    <link rel="stylesheet" href="css/edit-project-tasks.css">
    <title>Strona główna</title>
</head>
<body>

    <header class="header">

        <div class="logo-container">
            <img src="images/logo.png" alt="logo" class="logo">
        </div>

        <nav class="nav-menu">
            <div class="nav-links-container">
                <a href="" class="nav-link">O nas</a>
                <a href="/organisation/projects" class="nav-link">Projekty</a>
                <a href="" class="nav-link">Organizacje</a>
                <a href="" class="nav-link">Kontakt</a>
                <a href="/organisation/project/create" class="nav-link">Stwórz projekt</a>
            </div>
            <div class="sign-in-up-buttons">
                <a href="/organisation/profile" class="nav-link">Profil</a>
                <a href="" class="nav-link">Wyloguj</a>
            </div>

        </nav>

    </header>

    <hr class="section-line">

    <section class="project-nav-container">
        <button type="button" class="desc-managment" >Projekt</button>
        <button type="button" class="tasks-managment active">Zadania</button>
    </section>

    <main class="main">

        <section class="tasks-container">

            <h1>Lista zadań</h1>

            <div class="tasks">


                <div class="task">

                    <div class="task-desc">
                        <h2 class="task-tittle">Zadanie 1</h2>

                        <p class="task-desc">opis zadania cos tam cos tam cos tam cos tam co tam co tam</p>

                        <span class="priority">Priorytet - wysoki</span>
                    </div>
                    <div class="task-controlls">

                        <select name="priority" id="priority">

                            <option value="val1">val1</option>
                            <option value="val2">val2</option>
                            <option value="val3">val3</option>
        
                        </select>

                        <input type="checkbox" name="to_delete" id="to_delete">

                    </div>

                </div>

                <div class="task">

                    <div class="task-desc">
                        <h2 class="task-tittle">Zadanie 1</h2>

                        <p class="task-desc">opis zadania cos tam </p>

                        <span class="priority">Priorytet - wysoki</span>
                    </div>
                    <div class="task-controlls">

                        <select name="priority" id="priority">

                            <option value="val1">val1</option>
                            <option value="val2">val2</option>
                            <option value="val3">val3</option>
        
                        </select>

                        <input type="checkbox" name="to_delete" id="to_delete">

                    </div>

                </div>

                <div class="task">

                    <div class="task-desc">
                        <h2 class="task-tittle">Zadanie 1</h2>

                        <p class="task-desc">opis zadaniaa</p>

                        <span class="priority">Priorytet - wysoki</span>
                    </div>
                    <div class="task-controlls">

                        <select name="priority" id="priority">

                            <option value="val1">val1</option>
                            <option value="val2">val2</option>
                            <option value="val3">val3</option>
        
                        </select>

                        <input type="checkbox" name="to_delete" id="to_delete">

                    </div>

                </div>

            </div>

            <div class="tasks-buttons-container">

                <button type="button" class="save-button">Zapisz</button>
                <button type="button" class="delete-button">Usuń wybrane</button>

            </div>
            

        </section>

        <section class="tasks-from-container">

            <form action="" class="form">

                <label for="task-tittle">Tytuł</label>
                <input type="text" name="task-tittle" id="task-tittle" required>

                <label for="task-desc">Opis</label>
                <input type="text" name="task-desc" id="task-desc">

                <label for="priority">Priorytet</label>
                <select name="priority" id="priority">

                    <option value="val1">val1</option>
                    <option value="val2">val2</option>
                    <option value="val3">val3</option>

                </select>

                <input type="submit" value="Dodaj zadanie do listy zadań">

            </form>

        </section>

        <section class="volunteers-container">

            <section class="tasks-choose-container">
                <label for="task">Zadania</label><br>
                <select name="task" id="task">

                        <option value="val1">val1</option>
                        <option value="val2">val2</option>
                        <option value="val3">val3</option>

                </select>
            </section>

            <section class="volunteers-container-in">

                <h1>Lista członków</h1>
    
                <div class="volunteers" id ="volunteers">
    
                    <div class="volunteer">
                        <span>J</span> Jan Kowalski <button type="button" class="add-volunteer-to-task-button">Dodaj</button> 
                    </div>
    
                    <div class="volunteer">
                        <span>A</span> Jan Kowalski <output>Dodany</output>
                    </div>
    
                    <div class="volunteer">
                        <span>R</span> Jan Kowalski <button type="button" class="add-volunteer-to-task-button">Dodaj</button>
                    </div>
    
                    <div class="volunteer">
                        <span>F</span> Jan Kowalski <button type="button" class="add-volunteer-to-task-button">Dodaj</button>
                    </div>
                    
                    <div class="volunteer">
                        <span>G</span> Jan Kowalski <button type="button" class="add-volunteer-to-task-button">Dodaj</button>
                    </div>
    
                </div>
    
            </section>

        </section>



    </main>

    <hr class="section-line">

    <footer class="footer">

        <div class="footer-col1"><img src="images/logo2mini.png" alt=""></div>
        <div class="footer-col2">col2</div>
        <div class="footer-col3">col3</div>
        <div class="footer-col4">col4</div>

    </footer>

    <script>

        const urlArray = window.location.href.split("/");
        const projectId = urlArray.at(-1);

        $(".chosen-select").chosen();
        document.getElementById('tags_chosen').style.width = "";
        document.getElementsByClassName('chosen-search-input')[0].setAttribute('value',"Wybierz tagi");
        document.getElementsByClassName('chosen-search-input')[0].setAttribute('placeholder',"chosen-search-input");

        async function getTasksToVolunteersContainer() {

            const root = document.getElementById("task");

            try {
                const response = await fetch('http://localhost:8080/api/task/project/' + projectId, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    response.forEach(task => {
                        
                        const option = document.createElement("option");
                        option.value = task.id;
                        option.innerHTML = task["task-title"];

                        root.appendChild(option);

                    });
                }

            } catch (error) {
                console.log(error);
            }

        }

        async function getVolunteersByProject() {

            const root = document.getElementById("volunteers");
            const taskId = document.getElementById("task").value;

            try {
                    const response = await fetch('http://localhost:8080/api/volunteer/withTasks' +taskId + '/project/' + projectId, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {

                    const result = await response.json();

                    const volunteerWithTasks = await response2.json();

                    result.forEach(volunteer => {

                        const div = document.createElement("div");
                        div.classList.add("volunteer");
                        div.innerHTML = "<span>" + volunteer.fnameAndLname[0] + "</span> " + volunteer.fnameAndLname + 
                        '<button type = "button" class="add-volunteer-to=task-button> Dodaj </button>';

                        root.appendChild(div);
                        
                    });

                }

            } catch (error) {
                console.log(error);
            }


        }

        async function getTasks() {

            const root = document.getElementById("tasks");
            const urlArray = window.location.href.split("/");
            const projectId = urlArray.at(-1);

            const priorityArray = [
                "Niski",
                "Umiarkowany",
                "Średni",
                "Wysoki"]

            try {
                    const response = await fetch('http://localhost:8080/api/task/project/' + projectId, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {

                    const result = await response.json();

                    console.log(result);

                    result.forEach(task => {

                        const div = document.createElement("div");
                        div.classList.add("task");

                        const h2 = document.createElement("h2");
                        h2.classList.add("task-tittle");
                        h2.innerHTML = task["task-title"];

                        const p = document.createElement("p");
                        p.classList.add("task-desc");
                        p.innerHTML = task["task-desc"];

                        const span = document.createElement("span");
                        span.classList.add("priority");
                        span.innerHTML = "Priorytet - " + priorityArray[task.priority - 1] + ", termin - " + task.deadline;

                        const select = document.createElement("select");
                        select.name = "priority";

                        priorityArray.forEach(priority => {
                            const option = document.createElement("option")
                            option.value = task.priority
                            option.innerHTML = priority;
                            if (priorityArray[task.priority - 1] == priority) {
                                option.selected = "selected";
                            }
                            select.appendChild(option);
                        })

                        div.appendChild(h2);
                        div.appendChild(p);
                        div.appendChild(span);
                        div.appendChild(select);

                        root.appendChild(div);
                        
                        });

                    }

                } catch (error) {
                    console.log(error);
                }

            }

    </script>
    
</body>
</html>