<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/main-layout.css">
    <link rel="stylesheet" href="/css/form-layout.css">
    <link rel="stylesheet" href="/css/edit-project-tasks.css">
    <title>Strona główna</title>
</head>
<body onload = "loadContent()">

    <header class="header">

        <div class="logo-container">
            <img src="images/logo.png" alt="logo" class="logo">
        </div>

        <nav class="nav-menu">
            <div class="nav-links-container">
                <a href="" class="nav-link">O nas</a>
                <a href="/organisation/projects" class="nav-link">Projekty</a>
                <a href="" class="nav-link">Organizacje</a>
                <a href="" class="nav-link">Kontakt</a>
                <a href="/organisation/project/create" class="nav-link">Stwórz projekt</a>
            </div>
            <div class="sign-in-up-buttons">
                <a href="/organisation/profile" class="nav-link">Profil</a>
                <a href="" class="nav-link">Wyloguj</a>
            </div>

        </nav>

    </header>

    <hr class="section-line">

    <section class="project-nav-container">
        <button type="button" class="desc-managment" >Projekt</button>
        <button type="button" class="tasks-managment active">Zadania</button>
    </section>

    <main class="main">

        <section class="tasks-container">

            <h1>Lista zadań</h1>

            <div class="tasks" id = "tasks">

                

            </div>

            <div class="tasks-buttons-container">

                <button type="button" class="save-button">Zapisz</button>
                <button type="button" class="delete-button" onclick = "deleteTasks()">Usuń wybrane</button>

            </div>
            

        </section>

        <section class="tasks-from-container">

            <form action="" class="form" name = "taskForm">

                <label for="task-title">Tytuł</label>
                <input type="text" name="task-title" id="task-title" required>

                <label for="task-desc">Opis</label>
                <textarea name="task-desc" id="task-desc" required></textarea>

                <label for="priority">Priorytet</label>
                <select name="priority" id="priority" required>

                    <option value="1">Niski</option>
                    <option value="2">Umiarkowany</option>
                    <option value="3">Średni</option>
                    <option value="4">Wysoki</option>

                </select>

                <label for="deadline">Termin zadania</label>
                <input type="date" name="deadline" id="deadline" required>

                <button type="button" onclick="addTasksToList()">Dodaj zadanie do listy</button>
            </form>

        </section>

        <section class="volunteers-container">

            <section class="tasks-choose-container">
                <label for="task">Zadania</label><br>
                <select name="task" id="task">

                </select>
            </section>

            <section class="volunteers-container-in">

                <h1>Dodaj wolontariuszy do zadania</h1>
    
                <div class="volunteers" id ="volunteers">
    
                   
    
                </div>
    
            </section>

            <section class="volunteers-container-in">
                <h1>Usuń wolontariuszy z zadania</h1>
    
                <div class="volunteers" id ="volunteers-to-delete">
    
                   
    
                </div>
    
            </section>

            

        </section>



    </main>

    <hr class="section-line">

    <footer class="footer">

        <div class="footer-col1"><img src="images/logo2mini.png" alt=""></div>
        <div class="footer-col2">col2</div>
        <div class="footer-col3">col3</div>
        <div class="footer-col4">col4</div>

    </footer>

    <script defer>

        const urlArray = window.location.href.split("/");
        const projectId = urlArray.at(-1);

        const tasks = [];
        const tasksToDelete = [];

        const priorityArray = [
                "Niski",
                "Umiarkowany",
                "Średni",
                "Wysoki"]

        async function getTasksToVolunteersContainer() {

            const root = document.getElementById("task");
            root.innerHTML = "";

            try {
                const response = await fetch('http://localhost:8080/api/task/project/' + projectId, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    const result = await response.json();
                    result.forEach(task => {
                        
                        const option = document.createElement("option");
                        option.value = task.id;
                        option.innerHTML = task["task-title"];

                        root.appendChild(option);

                    });

                    getVolunteersByProject();
                    getVolunteersByProjectToDelete();
                }

            } catch (error) {
                console.log(error);
            }

        }

        async function getVolunteersByProject() {

            const root = document.getElementById("volunteers");
            const taskId = document.getElementById("task").value;
            root.innerHTML = "";

            try {
                    const response = await fetch('http://localhost:8080/api/volunteer/withTasks/' +taskId + '/project/' + projectId, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {

                    const result = await response.json();

                    console.log(result);

                    result.forEach(volunteer => {

                        console.log(volunteer);

                        const div = document.createElement("div");
                        div.classList.add("volunteer");
                        div.innerHTML = "<span>" + volunteer.fnameAndLname[0] + "</span> " + volunteer.fnameAndLname + 
                        '<button type = "button" class="add-volunteer-to-task-button" onclick = "addVolunteerToTask(' + volunteer.id + ', this)"> Dodaj </button>';

                        root.appendChild(div);
                        
                    });

                }

            } catch (error) {
                console.log(error);
            }


        }

        async function getVolunteersByProjectToDelete() {

            const root = document.getElementById("volunteers-to-delete");
            const taskId = document.getElementById("task").value;
            root.innerHTML = "";

            try {
                    const response = await fetch('http://localhost:8080/api/volunteer/withTasksToDelete/' +taskId + '/project/' + projectId, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {

                    const result = await response.json();

                    result.forEach(volunteer => {

                        console.log(volunteer);

                        const div = document.createElement("div");
                        div.classList.add("volunteer");
                        div.innerHTML = "<span>" + volunteer.fnameAndLname[0] + "</span> " + volunteer.fnameAndLname + 
                        '<button type = "button" class="add-volunteer-to-task-button" onclick = "deleteVolunteerFromTask(' + volunteer.id + ', this)"> Usuń </button>';

                        root.appendChild(div);
                        
                    });

                }

            } catch (error) {
                console.log(error);
            }
        }

        async function getTasks() {

            const root = document.getElementById("tasks");
            const urlArray = window.location.href.split("/");
            const projectId = urlArray.at(-1);

            

            try {
                    const response = await fetch('http://localhost:8080/api/task/project/' + projectId, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {

                    const result = await response.json();

                    console.log(result);

                    result.forEach(task => {

                        const div = document.createElement("div");
                        div.classList.add("task");

                        const divTaskDesc = document.createElement("div");
                        divTaskDesc.classList.add("task-desc");

                        const h2 = document.createElement("h2");
                        h2.classList.add("task-tittle");
                        h2.innerHTML = task["task-title"];

                        const p = document.createElement("p");
                        p.classList.add("task-desc");
                        p.innerHTML = task["task-desc"];

                        const span = document.createElement("span");
                        span.classList.add("priority");
                        span.innerHTML = "Priorytet - " + priorityArray[task.priority - 1] + ", termin - " + task.deadline;

                        divTaskDesc.append(h2);
                        divTaskDesc.append(p);
                        divTaskDesc.append(span);

                        const taskControlls = document.createElement("div");
                        taskControlls.classList.add("task-controlls");

                        const select = document.createElement("select");
                        select.name = "priority";
                        select.id = "priority-taskId-"+task.id;
                        select.dataset.taskId = task.id;
                        select.onchange = updateTasks;

                        priorityArray.forEach(priority => {
                            const option = document.createElement("option")
                            option.value = priorityArray.indexOf(priority) + 1;
                            option.innerHTML = priority;
                            if (priorityArray[task.priority - 1] == priority) {
                                option.selected = "selected";
                            }
                            select.appendChild(option);
                        })

                        const control =document.createElement("input");
                        control.type="checkbox";
                        control.name = "to_delete";
                        control.id = "to_delete";
                        control.dataset.taskId = task.id;
                        control.onchange = addTasksToDelete;

                        taskControlls.appendChild(select);
                        taskControlls.appendChild(control);

                        div.appendChild(divTaskDesc);
                        div.appendChild(taskControlls);

                        root.appendChild(div);
                        
                        });

                    }

                } catch (error) {
                    console.log(error);
                }

            }

            async function addTasksToList() {

                const form = document.forms["taskForm"];

                const formData = new FormData(form);

                const data = Object.fromEntries(formData.entries());

                data.projectId = projectId;

                console.log(data);

                tasks.push(data);

                const root = document.getElementById("tasks");

                try {

                    const response = await fetch("http://localhost:8080/api/task/save", {
                        method: 'POST',
                        headers: {
                            'Content-type': 'application/json'
                        },
                        body: JSON.stringify(tasks)
                    });

                    if (response.ok) {

                        const result = await response.json();

                        result.forEach(task => { 

                        const div = document.createElement("div");
                        div.classList.add("task");

                        const divTaskDesc = document.createElement("div");
                        divTaskDesc.classList.add("task-desc");

                        const h2 = document.createElement("h2");
                        h2.classList.add("task-tittle");
                        h2.innerHTML = task["task-title"];

                        const p = document.createElement("p");
                        p.classList.add("task-desc");
                        p.innerHTML = task["task-desc"];

                        const span = document.createElement("span");
                        span.classList.add("priority");
                        span.innerHTML = "Priorytet - " + priorityArray[task.priority - 1] + ", termin - " + task.deadline;

                        divTaskDesc.append(h2);
                        divTaskDesc.append(p);
                        divTaskDesc.append(span);

                        const taskControlls = document.createElement("div");
                        taskControlls.classList.add("task-controlls");

                        const select = document.createElement("select");
                        select.name = "priority";
                        select.id = "priority-taskId-"+task.id;
                        select.dataset.taskId = task.id;
                        select.onchange = updateTasks;

                        priorityArray.forEach(priority => {
                            const option = document.createElement("option")
                            option.value = priorityArray.indexOf(priority) + 1;
                            option.innerHTML = priority;
                            if (priorityArray[task.priority - 1] == priority) {
                                option.selected = "selected";
                            }
                            select.appendChild(option);
                        })

                        const control =document.createElement("input");
                        control.type="checkbox";
                        control.name = "to_delete";
                        control.id = "to_delete";
                        control.dataset.taskId = task.id;
                        control.onchange = addTasksToDelete

                        taskControlls.appendChild(select);
                        taskControlls.appendChild(control);

                        div.appendChild(divTaskDesc);
                        div.appendChild(taskControlls);

                        root.appendChild(div);

                    });
                        
                    } else {
                        console.log('Blad serwera: ', await response.text());
                    }

                } catch (error) {
                console.error(error);
                }

            }

        async function addVolunteerToTask(volunteerId, button) {

            const taskId = document.getElementById("task").value;

            try {
                const response = await fetch('http://localhost:8080/api/volunteer/' + volunteerId + '/task/' + taskId, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    const output = document.createElement("output");
                    output.innerText = "Dodano";
                    button.replaceWith(output);
                }                

            } catch (error) {
                console.log(error);
            }
            
        }

        async function deleteVolunteerFromTask(volunteerId, button) {

            const taskId = document.getElementById("task").value;

            try {
                const response = await fetch('http://localhost:8080/api/volunteer/' + volunteerId + '/task/' + taskId, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    const output = document.createElement("output");
                    output.innerText = "Usunięto";
                    button.replaceWith(output);
                }                

            } catch (error) {
                console.log(error);
            }

        }

        async function updateTasks() {

            const priorityId = this.value;
            const taskId = this.dataset.taskId;

            console.log(priorityId + " " + taskId);

            try {
                    const response = await fetch(`http://localhost:8080/api/task/${taskId}/update/${priorityId}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    alert(await response.text());
                }

            } catch (error) {
                console.log(error);
            }

        }

        

        // TODO: i dont have to add tasks to tasksToUpdate on every check
        // i can do it every change on select, not checkbox - checkbox will be only
        // to select tasks to delete

        function addTasksToDelete(event) {

            const checkbox = event.target;

            if (checkbox.checked) {

                tasksToDelete.push(checkbox.dataset.taskId);
                console.log(tasksToDelete);

            } else if (!checkbox.checked) {

                let indexOfTask = tasksToDelete.indexOf(checkbox.dataset.taskId);

                if (indexOfTask >= 0) {
                    tasksToDelete.splice(indexOfTask, 1);
                }
                console.log(tasksToDelete);

            } else {
                console.log("nie udało sie usunąć zadania")
            }

        }

        async function deleteTasks() {

            try {
                    const response = await fetch(`http://localhost:8080/api/task/`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(tasksToDelete)
                });

                if (response.ok) {
                    alert(await response.text());
                    tasksToDelete.splice(0, tasksToDelete.length);
                } else {
                    alert(await response.text());
                    tasksToDelete.splice(0, tasksToDelete.length);
                }

            } catch (error) {
                console.log(error);
            }
            
        }

        function loadContent() {

            getTasks();
            getTasksToVolunteersContainer();

        }

        document.getElementById("task").addEventListener("change", getVolunteersByProject);

        document.getElementById("task").addEventListener("change", getVolunteersByProjectToDelete);

        

    </script>
    
</body>
</html>