<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main-layout.css">
    <link rel="stylesheet" href="/css/form-layout.css">
    <link rel="stylesheet" href="/css/join-project.css">
    <title>Strona główna</title>
</head>
<body onload = "getProject()">

    <header class="header">

        <div class="logo-container">
            <img src="/images/logo.png" alt="logo" class="logo">
        </div>

        <nav class="nav-menu">
            <div class="nav-links-container">
                <a href="" class="nav-link">O nas</a>
                <a href="/volunteer/projects" class="nav-link">Projekty</a>
                <a href="" class="nav-link">Organizacje</a>
                <a href="" class="nav-link">Kontakt</a>
            </div>
            <div class="sign-in-up-buttons">
                <a href="/volunteer/profile" class="nav-link">Profil</a>
                <a href="" class="nav-link">Wyloguj</a>
            </div>

        </nav>

    </header>

    <hr class="section-line">

    <main class="main">

        <section class="project-container">

                <div class="img-container">

                    <img src="images/strona-glowna.jfif" alt="" class="project-img">

                </div>

            <div class="text-container">

                <h2 class="project-tittle">Tytuł projektu</h2>

                <h4 class="project-short-desc">Organizator: Organizacja 1 </h4>

                <p class="project-long-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum voluptate cumque ducimus nesciunt sint ipsum nostrum provident, dolor voluptatum maiores quae praesentium. Repellat omnis exercitationem veritatis explicabo nesciunt consequuntur autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero numquam sint consectetur illum, architecto iste possimus beatae blanditiis doloribus facere vitae consequatur nobis mollitia suscipit ipsum nisi quam nulla minima! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, nobis natus! Reprehenderit, eaque quod? Impedit facere nostrum, assumenda recusandae, id optio necessitatibus, ad sapiente aliquid ratione esse ducimus cumque adipisci.</p>

                <div class="tags-container">

                    <h3 class="tag-highlight">Tagi:</h3>
                    <p class="tags">Tag1</p>

                </div>
                

            </div>

        </section>

        <section class="form-container">

            <form action="" class="form">

                <label for="fname">Imię</label>
                <input type="text" name="fname" id="fname" required>

                <label for="lname">Nazwisko</label>
                <input type="text" name="lname" id="lname" required>

                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>

                <label for="telnum">Numer telefonu</label>
                <input type="tel" name="telnum" id="telnum">

                <label for="bday">Data urodzenia</label>
                <input type="date" name="bday" id="bday">

                <label for="addnotaions">Uwagi</label>
                <input type="text" name="addnotaions" id="addnotaions">

                <input type="submit" value="Zapisz się">

            </form>

        </section>
        

    </main>

    <hr class="section-line">

    <footer class="footer">

        <div class="footer-col1"><img src="images/logo2mini.png" alt=""></div>
        <div class="footer-col2">col2</div>
        <div class="footer-col3">col3</div>
        <div class="footer-col4">col4</div>

    </footer>

    <script defer>

        const root = document.getElementsByClassName("project-container")[0];


        async function getProject() {
            const urlArray = window.location.href.split("/");
            const projectId = urlArray.at(-1);

            console.log(projectId);

            try {
                const response = await fetch('http://localhost:8080/api/project/volunteer/' + projectId, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    console.log(await response.json());
                } else {
                    console.log("blad serwera");
                }

            } catch (error) {
                console.log(error);
            }
        }

    </script>
    
</body>
</html>