<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main-layout.css">
    <link rel="stylesheet" href="/css/organisation-project-desc.css">
    <title>Strona główna</title>
</head>
<body>

    <header class="header">

        <div class="logo-container">
            <img src="images/logo.png" alt="logo" class="logo">
        </div>

        <nav class="nav-menu">
            <div class="nav-links-container">
                <a href="" class="nav-link">O nas</a>
                <a href="/organisation/projects" class="nav-link">Projekty</a>
                <a href="" class="nav-link">Organizacje</a>
                <a href="" class="nav-link">Kontakt</a>
                <a href="/organisation/project/create" class="nav-link">Stwórz projekt</a>
            </div>
            <div class="sign-in-up-buttons">
                <a href="/organisation/profile" class="nav-link">Profil</a>
                <a href="" class="nav-link">Wyloguj</a>
            </div>

        </nav>

    </header>

    <hr class="section-line">

    <button type="button" class="edit-project-button" onclick = "goToProjectManagment()">Zarządzaj projektem</button>

    <main class="main">

        <section class="project-container">

               

        </section>

        <section class="tasks-container">

            <h1>Lista zadań</h1>

            <div class="tasks" id="tasks">

                <div class="task">

                    <h2 class="task-tittle">Zadanie 1</h2>

                    <p class="task-desc">opis zadania</p>

                    <span class="priority">Priorytet - wysoki</span>

                </div>

                <div class="task">

                    <h2 class="task-tittle">Zadanie 1</h2>

                    <p class="task-desc">opis zadania</p>

                    <span class="priority">Priorytet - wysoki</span>

                </div>

                <div class="task">

                    <h2 class="task-tittle">Zadanie 1</h2>

                    <p class="task-desc">opis zadania</p>

                    <span class="priority">Priorytet - wysoki</span>

                </div>

            </div>

        </section>

        <section class="volunteers-container">

            <h1>Lista członków</h1>

            <div class="volunteers" id = "volunteers">

               

            </div>

        </section>
        

    </main>

    <hr class="section-line">

    <footer class="footer">

        <div class="footer-col1"><img src="images/logo2mini.png" alt=""></div>
        <div class="footer-col2">col2</div>
        <div class="footer-col3">col3</div>
        <div class="footer-col4">col4</div>

    </footer>
    

    <script defer>

        async function getProject() {
                
                const root = document.getElementsByClassName("project-container")[0];
                const urlArray = window.location.href.split("/");
                const projectId = urlArray.at(-1);

                try {
                        const response = await fetch('http://localhost:8080/api/project/volunteer/' + projectId, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });

                    if (response.ok) {
                        const project = await response.json();
                        console.log(project);
                        const imgContainer = document.createElement("div");
                        imgContainer.classList.add("img-container");

                        const img = document.createElement("img");
                        img.src = project.imgPath;
                        img.alt = "zdjecie";
                        img.classList.add("project-img")

                        const textContainer = document.createElement("div");
                        textContainer.classList.add("text-container");

                        const projectTitle = document.createElement("h2");
                        projectTitle.classList.add("project-tittle");
                        projectTitle.innerHTML = project.title;

                        const projectShortDesc = document.createElement("h4");
                        projectShortDesc.classList.add("project-short-desc");
                        projectShortDesc.innerHTML = "Organizacja - " + project.orgName;

                        const projectLongDesc = document.createElement("p");
                        projectLongDesc.classList.add("project-long-desc");
                        projectLongDesc.innerHTML = project.desc;

                        const tagsContainer = document.createElement("div");
                        tagsContainer.classList.add("tags-container");

                        const tags = document.createElement("p");
                        tags.classList.add("tags");

                        for (let x in project.tags) {
                            tags.innerHTML += "[" + project.tags[x].desc + "] ";
                        }

                        imgContainer.appendChild(img);

                        textContainer.appendChild(projectTitle);
                        textContainer.appendChild(projectShortDesc);
                        textContainer.appendChild(projectLongDesc);

                        tagsContainer.appendChild(tags);

                        textContainer.appendChild(tagsContainer);

                        root.appendChild(imgContainer);
                        root.appendChild(textContainer);

                    } else {
                        console.log("blad serwera");
                    }

                } catch (error) {

                    console.log(error);

                }

        }

        async function getVolunteers() {

            const root = document.getElementById("volunteers");
            const urlArray = window.location.href.split("/");
            const projectId = urlArray.at(-1);

            try {
                    const response = await fetch('http://localhost:8080/api/volunteer/project/' + projectId, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {

                    const result = await response.json();

                    result.forEach(volunteer => {

                        const div = document.createElement("div");
                        div.classList.add("volunteer");
                        div.innerHTML = "<span>" + volunteer.fnameAndLname[0] + "</span> " + volunteer.fnameAndLname +
                                        "<br> Email - " + volunteer.email;

                        root.appendChild(div);
                        
                    });

                }

            } catch (error) {
                console.log(error);
            }


        }

        async function getTasks() {

            const root = document.getElementById("tasks");
            const urlArray = window.location.href.split("/");
            const projectId = urlArray.at(-1);

            const priorityArray = [
                "Niski",
                "Umiarkowany",
                "Średni",
                "Wysoki"]

            try {
                    const response = await fetch('http://localhost:8080/api/task/project/' + projectId, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {

                    const result = await response.json();

                    console.log(result);

                    result.forEach(task => {

                        const div = document.createElement("div");
                        div.classList.add("task");

                        const h2 = document.createElement("h2");
                        h2.classList.add("task-tittle");
                        h2.innerHTML = task["task-title"];

                        const p = document.createElement("p");
                        p.classList.add("task-desc");
                        p.innerHTML = task["task-desc"];

                        const span = document.createElement("span");
                        span.classList.add("priority");
                        span.innerHTML = "Priorytet - " + priorityArray[task.priority - 1] + ", termin - " + task.deadline;

                        div.appendChild(h2);
                        div.appendChild(p);
                        div.appendChild(span);

                        root.appendChild(div);
                        
                    });

                }

            } catch (error) {
                console.log(error);
            }
            
        }

        function goToProjectManagment() {

            const urlArray = window.location.href.split("/");
            const projectId = urlArray.at(-1);
            location.href = "http://localhost:8080/organisation/projects/edit/desc/" + projectId;

        }


        document.body.onload = function () {
            getProject();
            getVolunteers();
            getTasks();
        }


    </script>
    
</body>
</html>