<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main-layout.css">
    <link rel="stylesheet" href="/css/volunteer-home.css">
    <title>Strona główna</title>
</head>
<body onload = "getProjects()">

    <header class="header">

        <div class="logo-container">
            <img src="images/logo.png" alt="logo" class="logo">
        </div>

        <nav class="nav-menu">
            <div class="nav-links-container">
                <a href="" class="nav-link">O nas</a>
                <a href="/organisation/projects" class="nav-link">Projekty</a>
                <a href="" class="nav-link">Organizacje</a>
                <a href="" class="nav-link">Kontakt</a>
                <a href="/organisation/project/create" class="nav-link">Stwórz projekt</a>
            </div>
            <div class="sign-in-up-buttons">
                <a href="/organisation/profile" class="nav-link">Profil</a>
                <a href="" class="nav-link">Wyloguj</a>
            </div>

        </nav>

    </header>

    <hr class="section-line">

    <main class="main">

        <div class="searchbar-container">

                <input type="text" name="searchbar" id="searchbar" placeholder="Wyszukaj...">
                <button type="submit"><i class="fa fa-search"></i></button>

        </div>

        <div class="projects-container">

            <div class="project">

                <section class="img-container">
                        <img src="images/logo2mini.jpg" alt="Zdjęcie projektu" class="project-img">
                </section>

                <section class="text-container">

                    <h2 class="project-tittle">Projekt 1</h2>
                    <p class="project-short-desc">Krótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektu
                        Krótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektu
                        Krótki opis projektuKrótki opis projektuKrótki opis projektu
                        Krótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektu
                        Krótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektu
                        Krótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektu
                    </p>

                    <h4 class="tags">Tagi: Edukacja, Środowisko i ekologia</h4>

                    <button type="button" class="project-join-button">Szczegóły</button>

                </section>

                

            </div>

            <div class="project">

                <section class="img-container">
                        <img src="" alt="Zdjęcie projektu" class="project-img">
                </section>

                <section class="text-container">

                    <h2 class="project-tittle">Projekt 1</h2>
                    <p class="project-short-desc">Krótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektu
                        Krótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektu
                        Krótki opis projektuKrótki opis projektuKrótki opis projektu
                        Krótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektu
                        Krótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektu
                        Krótki opis projektuKrótki opis projektuKrótki opis projektuKrótki opis projektu
                    </p>

                    <h4 class="tags">Tagi: Edukacja, Środowisko i ekologia</h4>

                    <button type="button" class="project-desc-button">Szczegóły</button>

                </section>

                

            </div>

        </div>
        

    </main>

    <hr class="section-line">

    <footer class="footer">

        <div class="footer-col1"><img src="images/logo2mini.png" alt=""></div>
        <div class="footer-col2">col2</div>
        <div class="footer-col3">col3</div>
        <div class="footer-col4">col4</div>

    </footer>


    <script defer>

        var root1 = document.getElementsByClassName("projects-container")[0];
        async function getProjects() {
            try {
                const response = await fetch('http://localhost:8080/api/project/organisation/all', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    const result = await response.json();
                    result.forEach(project => {

                        const projectDiv = document.createElement("div");
                        projectDiv.classList.add("project");

                        const imgSection = document.createElement("section");
                        imgSection.classList.add("img-container");

                        const img = document.createElement("img");
                        img.src = project.imgPath
                        img.alt = "zdjecie";
                        img.classList.add("project-img");

                        const textSection = document.createElement("section");
                        textSection.classList.add("text-container");

                        textSection.innerHTML = ' <h2 class="project-tittle">' + project.title + 
                            ' </h2> <h4 class="project-short-desc">' + project.desc + '</h4>';
                            
                        const projectButton = document.createElement("button");
                        projectButton.type = "button";
                        projectButton.classList.add("project-desc-button")
                        

                        imgSection.appendChild(img);
                        textSection.appendChild(projectButton);
                        projectDiv.appendChild(imgSection);
                        projectDiv.appendChild(textSection);
                        root1.appendChild(projectDiv);
                    })

                } else {
                    console.log('Blad odpowiedzi serwera', response.body);
                }

            } catch (error) {
                console.error('Error', error);
            }

        }
    </script>
    
</body>
</html>