<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main-layout.css">
    <link rel="stylesheet" href="/css/organisation-profile.css">
    <link rel="stylesheet" href="/css/form-layout.css">
    <link rel="stylesheet" href="/css/organisation-profile-edit.css">
    <title>Strona główna</title>
</head>
<body>

    <header class="header">

        <div class="logo-container">
            <img src="/images/logotst.png" alt="logo" class="logo">
        </div>

        <nav class="nav-menu">
            <div class="nav-links-container">
                <a href="" class="nav-link">O nas</a>
                <a href="/organisation/projects" class="nav-link">Projekty</a>
                <a href="" class="nav-link">Organizacje</a>
                <a href="" class="nav-link">Kontakt</a>
                <a href="/organisation/project/create" class="nav-link">Stwórz projekt</a>
            </div>
            <div class="sign-in-up-buttons">
                <a href="/organisation/profile" class="nav-link">Profil</a>
                <a href="" class="nav-link">Wyloguj</a>
            </div>

        </nav>

    </header>

    <hr class="section-line">

    <main class="main">

        
        <section class="desc-form">

            <form action="" class="form" name="organisation-form">

                <label for="desc">Opis</label>
                <textarea name="desc" id="desc"></textarea>

                <label for="img">Zdjęcie</label>
                <input type="file" name="img" id="img">

                <button type="button" class="form-button" onclick = "saveOrganisationDesc()">Zapisz</button>

            </form>

        </section>
        

    </main>

    <hr class="section-line">

    <footer class="footer">

        <div class="footer-col1"><img src="images/logo2mini.png" alt=""></div>
        <div class="footer-col2"></div>
        <div class="footer-col3"></div>
        <div class="footer-col4"></div>

    </footer>


    <script>

        const root = document.getElementById("desc-container");
        async function getOrganisationDesc() {
            try {
                const response = await fetch('http://localhost:8080/api/organisationProfile/', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok && response.status === 204) {
                    const result = await response.json();

                        const descContainer = document.createElement("div");
                        descContainer.classList.add("desc-container");

                        const imgDiv = document.createElement("div");
                        imgSection.classList.add("img-container");

                        const img = document.createElement("img");
                        img.alt = "zdjecie";
                        img.classList.add("project-img");
                        img.src = result.imgPath;

                        const textDiv = document.createElement("div");
                        textSection.classList.add("text-container");
                        textDiv.innerHTML = result.desc;

                        const descParagraph = document.createElement("p");
                        descParagraph.classList.add("organisation-desc");
                        descParagraph.innerHTML = result.desc;

                        imgDiv.appendChild(img);
                        textDiv.appendChild(descParagraph);
                        descContainer.appendChild(imgDiv);
                        descContainer.appendChild(textDiv);
                        root.appendChild(descContainer);

                } else {
                    console.log('Blad odpowiedzi serwera', response.body);
                }

            } catch (error) {
                console.error('Error', error);
            }

        }

        async function saveOrganisationDesc() {

            const form = document.forms["organisation-form"];

            const formData = new FormData(form);

            const data = Object.fromEntries(formData.entries());

            console.log(data);


            try {
                const response = await fetch('http://localhost:8080/api/organisationProfile/', {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {

                    console.log("udało się zapisać dane");

                }
                else {
                    console.log("nie udało się zapisać danych");
                }

                
            } catch (error) {
                console.log(error);
            }

        }

    </script>
    
</body>
</html>