<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main-layout.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/form-layout.css">
    <title>Strona główna</title>
</head>
<body onload="showVolunteerForm()">

    <header class="header">

        <div class="logo-container">
            <img src="images/logo.png" alt="logo" class="logo">
        </div>

        <nav class="nav-menu">
            <div class="nav-links-container">
                <a href="" class="nav-link">O nas</a>
                <a href="" class="nav-link">Projekty</a>
                <a href="" class="nav-link">Organizacje</a>
                <a href="" class="nav-link">Kontakt</a>
            </div>
            <div class="sign-in-up-buttons">
                <a href="" class="nav-link">Logowanie</a>
                <a href="" class="nav-link">Rejestracja</a>
            </div>

        </nav>

    </header>

    <div class="text-container">STRONA REJESTRACJI</div>
    <h5 class="desc-short"> Aby się zarejestrować, kliknij w odpowiedni przycisk i podaj dane</h5>

    <hr class="section-line">

    <main class="main">

        <div class="buttons-container">
            
            <button class="volunteer-register" type="button" onclick = "showVolunteerForm()">Jako wolontariusz</button>
            <button class="organisation-register" type="button" onclick="showOrganisationFrom()">Jako organizacja</button>

        </div>

        <div class="form-container" id="form-container">
                
        </div>
        
    </main>

    <hr class="section-line">

    <footer class="footer">

        <div class="footer-col1"><img src="images/logo2mini.png" alt=""></div>
        <div class="footer-col2">col2</div>
        <div class="footer-col3">col3</div>
        <div class="footer-col4">col4</div>

    </footer>


    <script>

        function otherOrganizacjionType(input) {

            const inputContainer = document.getElementById("other_o_type");

            console.log(input.value);
            if (input.value == "other"){
                const inputElem = document.createElement("input");
                const labelElem = document.createElement("label");

                inputElem.type = "text";
                inputElem.name = "other_o_type";
                inputElem.id = "other_o_type";

                labelElem.for = "other_o_type";
                labelElem.innerText = "Inny typ organizacji";

                inputContainer.appendChild(labelElem);
                inputContainer.appendChild(inputElem);
            } else {
                inputContainer.innerHTML = "";
            }

            
        }

        function showVolunteerForm(){
            
            let container = document.getElementById("form-container");
            container.innerHTML = '<form action="" class="form" name="volForm">' +

                '<label for="fname">Imię</label>' +
                '<input type="text" name="fname" id="fname">' + 
                
                '<label for="lname">Nazwisko</label>' + 
                '<input type="text" name="lname" id="lname">' +

                '<label for="bday">Data urodzenia</label>' +
                '<input type="date" name="birth_day" id="bday">' +

                '<label for="email">Email</label>' +
                '<input type="email" name="email" id="email">' +

                '<label for="password">Hasło</label>' +
                '<input type="password" name="password" id="password">' +

                '<label for="telnum">Numer telefonu</label>' +
                '<input type="tel" name="phone_number" id="telnum">' +

                '<button type="button" onclick = "registerVolunteer()">Zarejestruj się</button>' +

            '</form>'

            document.getElementsByClassName("volunteer-register")[0].classList.add("active");
            document.getElementsByClassName("organisation-register")[0].classList.remove("active");
        }

        function showOrganisationFrom(){
            console.log("aa");
            let container = document.getElementById("form-container");
            container.innerHTML = '<form action="" class="form" id="form" name="orgForm">' +

                '<label for="oname">Nazwa organizacji</label>' +
                '<input type="text" name="oname" id="oname" required>' + 

                '<label for="krs">Numer KRS</label>' + 
                '<input type="text" name="krs" id="krs" required>' +

                '<label for="street">Ulica</label>' +
                '<input type="text" name="street" id="street" required>' +

                '<label for="localnum">Nr lokalu</label>' +
                '<input type="text" name="localnum" id="localnum">' +

                '<label for="town">Miasto</label>' +
                '<input type="text" name="town" id="town" required>' +

                '<label for="zip_code">Kod pocztowy</label>' +
                '<input type="text" name="zip_code" id="zip_code" pattern="[0-9]{2}-[0-9]{3}">' +

                '<label for="otype">Typ organizacji</label>' +
                '<select name="otype" id="otype" onchange="otherOrganizacjionType(this)" required>' +
                    '<option value="social">Społeczny</option>' +
                    '<option value="eco">Ekologiczny</option>' +
                    '<option value="nonprofit">Non-profit</option>' +
                    '<option value="sport">Sportowy</option>' +
                    '<option value="religion">Religijny</option>' +
                    '<option value="other" id="otherType">Inny</option>' +
                '</select>' +

                '<div id="other_o_type"></div>' +

                '<label for="fname">Imię właściciela organizacji</label>' +
                '<input type="text" name="fname" id="fname" required>' +

                '<label for="lname">Nazwisko właściciela organizacji</label>' +
                '<input type="text" name="lname" id="lname" required>' +

                '<label for="email">Email</label>' +
                '<input type="email" name="email" id="email" required>' +

                '<label for="password">Hasło</label>' +
                '<input type="password" name="password" id="password" required>' +

                '<label for="telnum">Numer telefonu</label>' +
                '<input type="tel" name="phone_number" id="telnum" required>' +

                '<input type="submit" value="Zarejestruj się">' +

            '</form>';

            document.getElementsByClassName("organisation-register")[0].classList.add("active");
            document.getElementsByClassName("volunteer-register")[0].classList.remove("active");

        }


        async function registerVolunteer() {

            const form = document.forms["volForm"];

            const volunteerData = new FormData(form);

            const volunteer = Object.fromEntries(volunteerData.entries());

            const user = {
                email: form.email.value,
                password: form.password.value,
                role: "volunteer"
            }

            const body = {volunteer, user};

            console.log(body);

            try {
                const response = await fetch('http://localhost:8080/api/register/volunteer', {
                    method: 'POST',
                    headers: {
                        'Content-Type' : 'application/json',
                    } ,
                    body: JSON.stringify(body),
                });

                if(response.ok){
                    const result = await response.text();
                    console.log('Odpowiedz: ',result);
                } else {
                    console.log("Blad odpowiedzi serwera")
                }
            } catch (error) {
                console.log('Error: ', error)
            }
        }

            
    </script>
    
</body>
</html>