<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main-layout.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/form-layout.css">

    <script src="/src/register.js" defer></script>

    <title>Strona główna</title>
</head>
<body onload="showVolunteerForm()">

    <header class="header">

        <div class="logo-container">
            <img src="/images/logotst.png" alt="logo" class="logo">
        </div>

        <nav class="nav-menu">
            <div class="nav-links-container">
                <a href="" class="nav-link">O nas</a>
                <a href="" class="nav-link">Projekty</a>
                <a href="" class="nav-link">Organizacje</a>
                <a href="" class="nav-link">Kontakt</a>
            </div>
            <div class="sign-in-up-buttons">
                <a href="/login" class="nav-link">Logowanie</a>
                <a href="/register" class="nav-link">Rejestracja</a>
            </div>

        </nav>

    </header>

    <div class="text-container">STRONA REJESTRACJI</div>
    <h5 class="desc-short"> Aby się zarejestrować, kliknij w odpowiedni przycisk i podaj dane</h5>

    <hr class="section-line">

    <main class="main">

        <div class="buttons-container">
            
            <button class="volunteer-register" type="button" onclick = "showVolunteerForm()">Jako wolontariusz</button>
            <button class="organisation-register" type="button" onclick="showOrganisationFrom()">Jako organizacja</button>

        </div>

        <div class="form-container" id="form-container">
                
        </div>
        
    </main>

    <hr class="section-line">

    <footer class="footer">

        <div class="footer-col1"><img src="/images/logotst.png" alt="logo"></div>
        <div class="footer-col2"></div>
        <div class="footer-col3"></div>
        <div class="footer-col4"></div>

    </footer>


    
</body>
</html>