<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main-layout.css">
    <link rel="stylesheet" href="/css/volunteer-project-desc.css">

    <script src="/src/volunteer_project_desc.js" defer></script>

    <title>Strona główna</title>
</head>
<body onload = "loadContent()">

    <header class="header">

        <div class="logo-container">
            <img src="/images/logotst.png" alt="logo" class="logo">
        </div>

        <nav class="nav-menu">
            <div class="nav-links-container">
                <a href="" class="nav-link">O nas</a>
                <a href="/volunteer/projects" class="nav-link">Projekty</a>
                <a href="" class="nav-link">Organizacje</a>
                <a href="" class="nav-link">Kontakt</a>
            </div>
            <div class="sign-in-up-buttons">
                <a href="/volunteer/profile" class="nav-link">Profil</a>
                <a href="" class="nav-link">Wyloguj</a>
            </div>

        </nav>

    </header>

    <hr class="section-line">

    <main class="main">

        <section class="project-container">

            

        </section>

        <section class="tasks-container">

            <h1>Lista zadań</h1>

            <div class="tasks" id="tasks">

                

            </div>

        </section>
        

    </main>

    <hr class="section-line">

    <footer class="footer">

        <div class="footer-col1"><img src="/images/logotst.png" alt="logo"></div>
        <div class="footer-col2"></div>
        <div class="footer-col3"></div>
        <div class="footer-col4"></div>

    </footer>

    
</body>
</html>