section.tasks-container {
    background-color: rgb(173, 178, 229);
    background-image: linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );
    border-radius: 2em;
    text-align: center;
    grid-area: "tasks";
    display:grid;
    grid-template-columns: 60% 40%;
    padding:2em;
}

.tasks {
    background-color: antiquewhite;
    border-radius: 1em;
    margin:0 2em;
    display:grid;
    grid-template-columns: 80%;
    justify-content: space-around;
    gap:5px;
    padding:5px 0;
    overflow:auto;
    height:300px;
}

.task {
    background-color: rgb(173, 178, 229);
    background-image: linear-gradient(rgb(193, 196, 237),rgb(116, 180, 210) );
    border-radius: 2em;
    text-align: left;
    padding: 0 0 2em 2em;
}

.main {
    display: grid;
    gap:2em;
    margin:0 2em;
    align-content: center;
}


.form-container > form.form {
    width:60%;
    margin:auto;
}

.tasks-container > .form {
    background-image: linear-gradient(rgb(115,124,255),rgb(173, 178, 229) );
}
