
/*
* {
    box-sizing: border-box;
}

body, html {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-color:rgb(242,241,225);
}

.header {
    top:0;
    background-color: rgba(115,124,211,1);
    height:15%;
    border-radius: 0 0 50px 50px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    position:relative;
    z-index: 2;
}

.main{
    z-index: 1;
}
    */

    /*

.logo-container {
    display: inline-block;
    height:100%;
    border-radius:0 0 0 50px;
    flex-basis:8%;
    background-color: rgba(202,202,202,0);
    position:relative;
    text-align: center;
}

.logo-container > img {
    width:60%;
    height:60%;
    margin-top:1em;
    margin-left:2em;
}
    */

/*
.nav-menu {
    flex-basis:92%;
    display: flex;
}

.nav-menu a {
    color:black;
    text-align: center;
    text-decoration: none;
    padding:0.6em 2em;
    background-color: rgba(202,202,202,1);
    border-radius:8px;
    margin:0.6em;
    width:20%;
}

.nav-links-container{
    display:flex;
    flex-basis: 80%;
    justify-content: center;

}

.sign-in-up-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:4em;
}

.sign-in-up-buttons a {
    width:100%;
    color:white;
    background-color: black;
}

.section-line {
    width:80%;
    margin-top: 2em;
    margin-bottom: 2em;
}
    */

.content-container {
    background-color: rgb(173, 178, 229);
    background-image: linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );
    border-radius:2em;
    display:grid;
    grid-template-columns: 40% 60%;
    position:relative;
    width:80%;
    margin:auto;
    box-shadow: 0.5em 0.5em 2em rgba(101,85,143,0.80);
}

.text-container {
    padding:4em 4em 4em 2em;
}

.img-container {
    padding:4em 2em 4em 4em;
    position:relative;
    
}

.img-container > img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:2em;
}
/*
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(115,124,211,1);
    height:20%;
    display:grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    gap:10px;
    position:relative;
}

.footer > div {
    text-align: center;
    margin:auto;
}

.footer-col1 {
    position:relative;
}

.footer-col1 > img {
    width:20%;
    height:20%;
}
    */

.desc-short {
    color:gray;
}

.desc-long {
    font-size:110%;
}




