.project-container{
    grid-area:project;
}

.tasks-container {
    grid-area:tasks;
}

.volunteers-container{
    grid-area:volunteers;
}

.main {
    display: grid;
    grid-template-areas: 'project volunteers' 'project tasks';
    grid-template-columns: 70% 25%;
    row-gap:1em;
    justify-content: center;
    align-items: center;
    
}

section.project-container {
    background-color: rgb(173, 178, 229);
    background-image: linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 45%;
    gap:1em;
    border-radius: 2em;
    min-width:600px;
    max-width:900px;
    box-shadow: 0.5em 0.5em 2em rgba(101,85,143,0.80);
}

.text-container {
    margin:2em 0;
}

.img-container {
    text-align: center;
    margin:auto;
 
}

.project-img {
    width:max(300px, 100%);
    height:max(300px, 100%);
    border-radius: 2em;
    object-fit:fill;
}

.project-short-desc{
    color:gray;
}


section.tasks-container, section.volunteers-container {
    background-color: rgb(173, 178, 229);
    background-image: linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );
    border-radius: 2em;
    text-align: center;
    height:100%;
    position:relative;
    box-shadow: 0.5em 0.5em 2em rgba(101,85,143,0.80);
}

.tasks, .volunteers {
    background-color: antiquewhite;
    border-radius: 2em 0 0 2em ;
    margin:0 1em 1em 1em;
    display:grid;
    grid-template-columns: 80%;
    justify-content: space-around;
    gap:5px;
    padding:5px 0;
    overflow:auto;
    height:260px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.task, .volunteer {
    background-color: rgb(173, 178, 229);
    background-image: linear-gradient(rgb(193, 196, 237),rgb(116, 180, 210) );
    border-radius: 2em;
    text-align: left;
    padding: 0 0 2em 2em;
}


.volunteer > span {
    background-color: aqua;
    width:1em;
    text-align: center;
    border-radius:2em;
    padding:0.2em;
}

.volunteer {
    display: flex;
    align-items: center;
    padding:0;
    padding-left:2em;
    height:80px;
}

.edit-project-button {
    color:white;
    background-color: rgba(101,85,143,1.0);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -7px 10px 0px inset;
    transition: background-color 0.3s ease;
    width:150px;
    height:50px;
    border-radius:2em;
    margin:0.5em 0;
    border:0;
    box-shadow:inset rgba(0, 0, 0, 0.31) 3px 2px 5px, rgba(0, 0, 0, 0.23) 0px 0px 0px 0px inset;
    margin-left:4.5rem;
    margin-bottom:1rem;
}

.edit-project-button:hover {
    background-color: rgb(128, 107, 181);
}


