h4 {
    color:gray;
}

.main {
    display:flex;
    flex-direction: column;
}

section.profile-details, section.profile-desc {
    background-color: #d5c8f5;
    /*background-image: linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );*/
    border-radius: 2em;
    position:relative;
    box-shadow: 0.5em 0.5em 2em rgba(101,85,143,0.80);
    margin:2em 4em;
}

section.profile-desc {
    height:50%;
}

div.profile-header {
    margin:2rem 0 0 4rem ;
}

div.profile-data {
    background-color: rgb(241, 224, 250);
    border-radius: 2em;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-content: center;
    margin:3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

div.profile-data > div {
    text-align: center;
}

div.desc-container {
    display:grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-content: center;
    height:100%;
}
div.img-container {
    text-align: center;
}
div.img-container > img {
    width:min(300px, 100%);
    height:min(300px, 100%);
    border-radius: 2em;
    object-fit: fill;
}

div.text-container {
    display:flex;
    flex-direction: column;
    flex:1;
    position:relative;
    width:90%;
    height:80%;
}

div.text-container > button.profile-edit-button {
    display:block;
    width:40%;
    height:3em;
    position:absolute;
    right:0;
    bottom:0;
    color:white;
    background-color: rgb(155, 125, 231);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -7px 10px 0px inset;
    transition: background-color 0.3s ease;
    border-radius:0.5em;
    border:0;
}

div.text-container > button.profile-edit-button:hover {
    background-color: rgb(131, 102, 204);
}
