:root {
    /* Main layout */
    --bgColor:#fcf6ef;
    --headerBgColor:#B2A7D9;
    --headerBgGradientColor: linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );
    --headerBoxShadow:rgba(0, 0, 0, 0.09) 0px 2px 1px,
                      rgba(0, 0, 0, 0.09) 0px 4px 2px,
                      rgba(0, 0, 0, 0.09) 0px 8px 4px,
                      rgba(0, 0, 0, 0.09) 0px 16px 8px,
                      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    --headerBorder:3px solid rgb(127, 127, 171);
    --footerBgColor:#B2A7D9;
    --footerBgGradientColor:linear-gradient(rgb(115,124,255),rgb(173, 178, 229) );


    /* Projects */

    --projectContainerBgColor:#d5c8f5;
    --projectContainerBgGradientColor:linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );
    --projectBoxShadow:0.5em 0.5em 2em rgba(101,85,143,0.80);
    --projectH4Color:gray;
    --projectButton:rgb(155, 125, 231);
    --projectButtonHover: rgb(131, 102, 204);

    /* Forms */

    --formBgColor:#d5c8f5;
    --formBgGradientColor:linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );
    --formBoxShadow:0.5em 0.5em 2em rgba(101,85,143,0.80);
    --formInputsBoxShadow:inset rgba(0, 0, 0, 0.31) 3px 2px 5px, 
                        rgba(0, 0, 0, 0.23) 0px 0px 0px 0px inset;
    --formButtonColor:white;
    --formButtonBgColor:rgb(155, 125, 231);
    --formButtonBgColorHover: rgb(131, 102, 204);
    --formButtonBoxShadow:rgba(0, 0, 0, 0.35) 0px -7px 10px 0px inset;

    /* Tasks/Volunteers */

    --tasksContainerBgColor:rgb(144 154 255);
    --tasksContainerBgGradientColor:linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );
    --tasksContainerBoxShadow:0.5em 0.5em 2em rgba(101,85,143,0.80);
    --tasksBgColor:antiquewhite;
    --tasksHeight:260px;
    --tasksBoxShadow:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                     rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --taskBgColor:rgb(173, 178, 229);
    --taskBgGradientColor:linear-gradient(rgb(193, 196, 237),rgb(116, 180, 210) );
}