.projects-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.project {
    background-color: rgba(115,124,211,0.59);
    background-image: linear-gradient(rgb(173, 178, 229),rgb(115,124,255) );
    display:grid;
    grid-template-columns: 40% 50%;
    padding:2em;
    border-radius: 2em;
    width:60%;
    min-width: 800px;
    margin:1.5rem 0;
}

.project-img {
    width:80%;
    border-radius: 2em;
    object-fit: cover;
}

.text-container {
    position:relative;
}

.project-join-button, .project-desc-button {
    background-color: rgb(101, 85, 143);
    border:0;
    height:3rem;
    width:8rem;
    border-radius: 2em;
    color:white;
    position:absolute;
    right:0;
    bottom:0;
    cursor: pointer;
}

.project-short-desc {
    display: -webkit-box;       /* Użycie boxów dla ograniczenia linii */
    -webkit-box-orient: vertical; /* Ustawienie kierunku */
    overflow: hidden;           /* Ukrywa nadmiar tekstu */
    -webkit-line-clamp: 5;      /* Liczba widocznych linii */
    text-overflow: ellipsis; 
    max-height: 300px;
    white-space: normal;
}

.searchbar-container {
    margin:auto;
    width:80%;
    display:grid;
    grid-template-columns: 20% 5%;

}

input#searchbar {
    background-color: rgb(236, 230, 240);
    border:0;
    height:3rem;
    border-radius: 2em 0 0 2em;
    padding-left:1em;

}

.searchbar-container button {
    background-color:rgb(236, 230, 240);
    border:0;
    cursor: pointer;
    height:3rem;
    border-radius:0 2em 2em 0;
}